<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3 th:text="${titulo}">title</h3>
        <ul>
            <li th:text="${usuario.nombre}">first</li>
            <li th:text="${usuario.password}">second</li>
            <li th:text="${usuario.email}">third</li>
        </ul>

    </body>
</html>
